# OCI cloud-init configuration
datasource_list: ['Oracle', 'OpenStack']
datasource:
  OpenStack:
    metadata_urls: ['http://169.254.169.254']
    timeout: 10
    max_wait: 20

# swap file
swap:
   filename: /.swapfile
   size: "auto"

cloud_init_modules:
# OCI: disk_setup is disabled
#- disk_setup
 - migrator
 - bootcmd
 - write-files
# OCI: The growpart module is disabled by default. To enable automatic boot volume resizing, uncomment 
# the below entry for '- growpart' and reboot. All the dependent packages for the growpart
# module to work such as cloud-utils-growpart and gdisk are already included in the image.
#- growpart
 - resizefs
# OCI: set_hostname, update_hostname, update_etc_hosts are disabled
#- set_hostname
#- update_hostname
#- update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
# OCI: rh_subscription is disabled
#- rh_subscription
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - ntp
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message
# OCI: power-state-change is disabled
#- power-state-change

system_info:
  default_user:
    name: opc
    lock_passwd: true
    gecos: Oracle Public Cloud User
    groups: [adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
  distro: rhel
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

# vim:syntax=yaml
