/* Hide the current day indicator*/
a-date-picker.date-range-picker .a-DatePicker-calendar td.is-current {
     --a-datepicker-calendar-day-current-background-color:
         var(--a-datepicker-calendar-background-color);
     --a-datepicker-calendar-day-current-text-color: 
         var(--a-datepicker-calendar-day-text-color);
     --a-datepicker-calendar-day-current-border-color: 
         var(--a-datepicker-calendar-background-color);
}

/* Make the current and selected day use a regular font, not bold */
a-date-picker.date-range-picker .a-DatePicker-calendar td.is-current > span,
a-date-picker.date-range-picker .a-DatePicker-calendar td.is-selected > span {
   font-weight: var(--a-datepicker-calendar-day-font-weight,
                    var(--a-base-font-weight-semibold,500));
}

/* Round the corners of the start and end dates */
a-date-picker.date-range-picker .a-DatePicker-calendar td.is-current.dateRangeStart > span,
a-date-picker.date-range-picker .a-DatePicker-calendar td.is-current.dateRangeEnd > span {
    border-radius: var(--a-datepicker-calendar-day-border-radius);
}

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeStart,
a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeEnd,
a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeSingleDay {
    --a-datepicker-calendar-day-border-radius: 
        calc(var(--a-datepicker-calendar-day-font-size, 1rem) * 2);
    --a-datepicker-calendar-day-text-color: 
        var(--a-palette-primary-contrast);                        
}

/* Style the day at the start of the date range */

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeStart > span {
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
    margin-inline: calc(0px - var(--a-datepicker-calendar-day-spacing, 2px));
    inline-size: unset; 
    min-inline-size: calc(var(--a-datepicker-calendar-day-font-size, 1rem) * 2);
}

/* Style the days in the middle of the date range */

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeMiddle {
    --a-datepicker-calendar-day-background-color: 
        var(--a-datepicker-calendar-day-hover-background-color, 
            var(--a-gv-row-hover-background-color));
    --a-datepicker-calendar-day-text-color: 
              var(--a-palette-primary-contrast);            
    --a-datepicker-calendar-day-border-color: transparent;
    position: relative;
}

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeMiddle:before {
  content: "";
  background-color: var(--a-datepicker-calendar-day-selected-background-color,
                        var(--a-datepicker-calendar-day-current-background-color, 
                            var(--a-palette-primary)));
  opacity: 1; /* Use value like 0.5 for middle days to be slightly different */
  inline-size: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  block-size: calc(var(--a-datepicker-calendar-day-font-size, 1rem) * 2);
  top: 50%;
  transform: translateY(-50%);
}

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeMiddle > span {
    border-radius: 0;
    inline-size: unset;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

/* Style the day at the end of the date range */

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeEnd  {
    --a-datepicker-calendar-day-background-color: 
        var(--a-datepicker-calendar-day-selected-background-color,
            var(--a-datepicker-calendar-day-current-background-color, 
               var(--a-palette-primary)));
    --a-datepicker-calendar-day-text-color: 
        var(--a-datepicker-calendar-day-selected-text-color, 
           var(--a-datepicker-calendar-day-current-text-color, 
              var(--a-palette-primary-contrast)));
    --a-datepicker-calendar-day-border-color: 
        var(--a-datepicker-calendar-day-selected-border-color, 
            var(--a-datepicker-calendar-day-current-border-color, 
                var(--a-palette-primary))); 
}

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeEnd > span {
    border-end-start-radius: 0 !important;
    border-start-start-radius: 0 !important;
    margin-inline: calc(0px - var(--a-datepicker-calendar-day-spacing, 2px));
    inline-size: unset;
    min-inline-size: calc(var(--a-datepicker-calendar-day-font-size, 1rem) * 2); 
}

a-date-picker.date-range-picker .a-DatePicker-calendar td.dateRangeSingleDay > span {
    margin-inline: calc(0px - var(--a-datepicker-calendar-day-spacing, 2px));
    inline-size: unset; 
    min-inline-size: calc(var(--a-datepicker-calendar-day-font-size, 1rem) * 2);
}